{% extends 'base.html.twig' %}

{% block title %}Hello VehiculeController!{% endblock %}

{% block body %}
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Id_vehicule</th>
        <th scope="col">Marque</th>
        <th scope="col">Modele</th>
        <th scope="col">Couleur</th>
        <th scope="col">Immatriculation</th>
        <th scope="col">Modification</th>
        <th scope="col">Suppression</th>
        </tr>
    </thead>
    <tbody>
    {% for vehicule in vehicules %}
        <tr>
            <td>{{vehicule.id}}</td>
            <td>{{vehicule.marque}}</td>
            <td>{{vehicule.modele}}</td>
            <td>{{vehicule.couleur}}</td>
            <td>{{vehicule.immatriculation}}</td>
            <td>Modif</td>
            <td>Suppr</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
